body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #660000;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff;
}

.header-section {
  background-color: #d4a207;
  padding: 30px;
  text-align: center;
  color: #660000;
}

.header-section h1 {
  font-size: 3em;
}

.subheader-section {
  text-align: center;
  margin: 20px 0;
}

.search-section {
  text-align: center;
  margin: 20px 0;
}

.search-section input {
  max-width: 300px;
  margin-right: 5px;
}

/* Agregar esta clase en tu archivo de estilos o dentro de una etiqueta <style> */
.small-dropdown {
  padding: 5px;
  font-size: 14px;
  min-height: 40px;
}

/* Estilo para el dropdown de iniciar sesión */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Corrección: usar 100% para que se posicione justo debajo */
  right: 0;
  left: auto;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px; /* Agregar borde redondeado */
  z-index: 9999;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* Corrección: eliminar reglas que ocultan las filas */
.row {
  display: flex; /* Mostrar las filas */
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: auto;
}

.dropdown-menu .row {
  width: 100%; /* Ajusta el ancho según sea necesario */
  margin: 0 auto;
}

.dropdown-menu .col-md-5 {
  padding-right: 10px; /* Agregar padding a la derecha */
  padding-left: 10px; /* Agregar padding a la izquierda */
  width: 100px;
}

.dropdown-menu form {
  width: 100%; /* Los formularios ocupan el 100% del ancho de la columna */
  padding: 20px;
}

.dropdown-menu button {
  background-color: #660000;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.form-group{
  left: 40vh;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px; /* Agregar margen inferior */
  margin-top: 15px;
  text-align: start;
}

.form-group2{
  width: 40%;
  left: 40vh;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px; /* Agregar margen inferior */
  margin-top: 15px;
  text-align: start;
}



.form-group label {
  font-weight: bold;
}

.form-control:focus {
  background-color: #fff;
  border-color: #660000;
  box-shadow: 0 0 10px rgba(102, 0, 0, 0.6);
}

.form-control {
  background-color: #f2f2f2;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px; /* Ajustar padding */
  font-size: 1rem; /* Ajustar tamaño de fuente */
  height: auto; /* Altura automática */
  width: 100%; /* Los inputs ocupan el 100% del ancho del contenedor */
}

.navbar .navbar-brand {
  font-size: 2rem;
}

.container {
  width: 600px;
}

.card-body {
  width: auto;
  padding: 20px;
}
/*resultados de busqueda
*/
#search-results {
  position: absolute; /* Para que se posicione debajo del input */
  top: 110%; /* Justo debajo del input */
  left: 565px; /* Alineado con el input */
  width: 405px; /* Mismo ancho del input */
  z-index: 1000; /* Sobre otros elementos */
  background-color: white; /* Fondo blanco para destacar */
  border: 1px solid #ccc; /* Bordes del desplegable */
  border-radius: 0 0 5px 5px; /* Bordes redondeados en la parte inferior */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
  max-height: 300px; /* Límite de altura con scroll */
  overflow-y: auto; /* Habilita scroll si hay muchos resultados */
  display: none; /* Ocultar por defecto */
  padding: 0; /* Sin espacio adicional */
}

#search-results .list-group-item {
  padding: 10px 15px; /* Espaciado interno */
  border-bottom: 1px solid #eee; /* Separación entre elementos */
  cursor: pointer; /* Cambiar el cursor al pasar */
}
#search-results .list-group-item:last-child {
  border-bottom: none; /* Sin borde en el último elemento */
}
#search-results .list-group-item:hover {
  background-color: #f8f9fa; /* Efecto hover */
}

#search-input{
  left: 560px; /* Alineado con el input */
  width: 1000px;
  box-shadow: 0 0 10px rgba(255, 106, 106, 0.1); /* Sombra */
  border: 1px solid #100f0f; /* Bordes ligeros */
  border-radius: 10px; /* Bordes redondeados */
}

#top-books, #genres-list {
  max-height: 200px;
  overflow-y: auto;
}

#search-results {
  max-height: 300px;
  overflow-y: auto;
}

#selected-book {
  justify-content: center; /* Centra verticalmente *//* Mantén su posición absoluta si es necesario */
  left: 50px; /* Ajusta según tu diseño */
  top: 30px; /* Ajusta según tu diseño */
  width: 300px; /* Define un ancho fijo o adecuado */
  height: auto; /* Deja que ajuste la altura automáticamente */
  text-align: center; /* Centra el texto dentro del contenedor */
}

#request-loan {
  margin-top: 15px; /* Añade espacio entre los detalles y el botón */
}

#action-container {
  display: none; /* Inicialmente oculto */
  position: absolute;
}

.save-book{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.center-content {
    height: 10vh; /* Altura completa */
    top: 10vh; /* Ajusta este valor para bajar */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative; /* Asegúrate de que top funcione */
}
.back-arrow {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #c81010;
    padding-top: 2%;
    padding-left: 2%;
    position: relative;
}

.add-book-section{
height: 50vh;
position: fixed;
z-index: 1000;
position: absolute;
width: 50%; /* Ajusta según sea necesario */
margin: 0 auto;
display: flex; /* Activa Flexbox */
flex-direction: column; /* Alinea los elementos en una columna */
align-items: center; /* Centra horizontalmente */
gap: 20px; /* Espacio entre elementos */
text-align: center; /* Centra el texto dentro de los elementos *//
}

.search-results-author {
    position: absolute; /* Para que se posicione debajo del input */
    top: 50%; /* Justo debajo del input */
    left: 565px; /* Alineado con el input */
    width: 405px; /* Mismo ancho del input */
    z-index: 1000; /* Sobre otros elementos */
    background-color: white; /* Fondo blanco para destacar */
    border: 1px solid #ccc; /* Bordes del desplegable */
    border-radius: 0 0 5px 5px; /* Bordes redondeados en la parte inferior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
    max-height: 300px; /* Límite de altura con scroll */
    overflow-y: auto; /* Habilita scroll si hay muchos resultados */
    display: none; /* Ocultar por defecto */
    padding: 0; /* Sin espacio adicional */
}

.col-md-2 .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.col-md-2 .card:hover {
  transform: scale(1.05); /* Efecto de zoom */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
  box-shadow: 0 8px 16px rgba(30, 144, 255, 0.4);
}

.card-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.btn.view-loans {
  margin-top: 1px;
}

.container-2 {
  max-width: 1450px; /* Limita el ancho máximo a 1200px */
  max-height: 520px;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 15px; /* Añade un pequeño padding para evitar que se pegue a los bordes */
  overflow-x: hidden; /* Evita desbordamientos horizontales */
}

  /* Espaciado entre filas */
  #borrowed-books-list {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 20px; /* Espaciado entre las tarjetas */
    justify-content: space-evenly;
  }
  
  .card {
    flex: 1 1 calc(25% - 20px); /* Cada tarjeta ocupa aproximadamente un 25% del contenedor */
    max-width: 310px; /* Máximo ancho por tarjeta */
    min-width: 200px; /* Mínimo ancho por tarjeta */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 8px 16px rgba(30, 144, 255, 0.4); /* Sombra al hacer hover */
  }
  

  .card-body {
    text-align: start;
  }

  /* Contenedor de la lista de libros a la derecha */
  .book-list-container {
    position: fixed; /* Fijamos la posición en el lado derecho */
    top: 170px; /* Dejamos espacio desde el top */
    right: 70px; /* Lo alineamos al borde derecho */
    width: 400px; /* Ajustamos el tamaño de la lista */
    max-height: 500px; /* Máxima altura para hacerlo scrollable */
    overflow-y: auto; /* Añadimos desplazamiento vertical si hay más libros */
    border: 1px solid #ccc; /* Bordes ligeros */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  .book-list-container h4 {
    text-align: center;
    margin-bottom: 15px;
  }
  .book-list-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  .book-list-container ul li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }